
@font-face {
	font-family: 'Ubuntu';
	src: url('../custom-fonts/Ubuntu.eot');
	src: url('../custom-fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('../custom-fonts/Ubuntu.woff2') format('woff2'),
		url('../custom-fonts/Ubuntu.woff') format('woff'),
		url('../custom-fonts/Ubuntu.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,body {
    font-family:Ubuntu; 

background: #76b852; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

*{
    /*border:1px solid #dedede;*/
}

.app-logo{
    text-align:center;
}

.round-circle-fill{
    background-color:#dedede;
    border-radius:50%;
    padding:10px;
}